<html class="overflow-hidden">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customize Card</title>
    <script src="/static/htmx.min.js"></script>
    <link href="/static/app.css" rel="stylesheet">
</head>

<body class="bg-gray-100 flex flex-col h-dvh w-dvw text-gray-950 overflow-hidden">
    <header class="flex p-4 gap-10">
        <h1 class="basis-auto grow-0 shrink-0 text-3xl text-black font-semibold">Customize Card</h1>
    </header>

    <div class="p-4 py-0.5">
        {{ template "cardFront.html" .card }}
    </div>
    <div class="flex-1 flex flex-col p-4 overflow-y-auto">
        <span class="text-black font-semibold text-xl">Color</span>
        <div class="flex gap-3 py-3">
            <div
                class="text-2xl transition-all aria-selected:bg-citron-50 aria-selected:shadow-md rounded-full bg-citron-100 outline outline-1 outline-citron-200 w-14 h-14 flex justify-center items-center">
                🍋</div>
            <div aria-selected="true"
                class="text-2xl transition-all aria-selected:bg-peach-50 aria-selected:shadow-md rounded-full bg-peach-100 outline outline-1 outline-peach-200 w-14 h-14 flex justify-center items-center">
                🍑</div>
            <div
                class="text-2xl transition-all aria-selected:bg-gray-50 aria-selected:shadow-md rounded-full bg-gray-100 outline outline-1 outline-gray-200 w-14 h-14 flex justify-center items-center">
                🐁</div>
        </div>
        <span class="text-black font-semibold text-xl mt-5">Font</span>
        <div class="overflow-x-auto basis-auto shrink-0">
            <div class="flex gap-3 py-3 px-0.5 overflow-visible w-fit">
                <div
                    class="whitespace-nowrap px-4 py-2 text-xl transition-all aria-selected:bg-gray-50 aria-selected:shadow-md rounded-sm bg-gray-100 outline outline-1 outline-gray-300 flex justify-center items-center">
                    System UI</div>
                <div aria-selected="true"
                    class="whitespace-nowrap px-4 py-2 font-pacifico text-xl transition-all aria-selected:bg-gray-50 aria-selected:shadow-md rounded-sm bg-gray-100 outline outline-1 outline-gray-300 flex justify-center items-center">
                    Pacifico</div>
                <div
                    class="whitespace-nowrap px-4 py-2 font-crimson text-xl transition-all aria-selected:bg-gray-50 aria-selected:shadow-md rounded-sm bg-gray-100 outline outline-1 outline-gray-300 flex justify-center items-center">
                    Crimson Text</div>
            </div>
        </div>
        <span class="text-black font-semibold text-xl mt-5">Pattern</span>
        <div class="flex gap-3 py-3">
            <div
                class="relative overflow-hidden text-2xl transition-all aria-selected:bg-gray-50 aria-selected:shadow-md rounded-full bg-gray-100 outline outline-1 outline-gray-400 w-14 h-14 flex justify-center items-center">
                <div style="mask: url();mask-size: fit" class="bg-gray-300 absolute inset-0">
                </div>
            </div>
            <div aria-selected="true"
                class="relative overflow-hidden text-2xl transition-all aria-selected:bg-gray-50 aria-selected:shadow-md rounded-full bg-gray-100 outline outline-1 outline-gray-400 w-14 h-14 flex justify-center items-center">
                <div style="mask: url(/static/images/bubbles.svg);mask-size: fit" class="bg-gray-300 absolute inset-0">
                </div>
            </div>
        </div>
        <span class="text-black font-semibold text-xl mt-5">Texture</span>
        <div class="flex gap-3 py-3">
            <div
                class="relative overflow-hidden text-2xl transition-all aria-selected:bg-gray-50 aria-selected:shadow-md rounded-full bg-gray-100 outline outline-1 outline-gray-400 w-14 h-14 flex justify-center items-center">
                <div style="mask: url();mask-size: fit" class="bg-gray-300 absolute inset-0">
                </div>
            </div>
            <div aria-selected="true"
                class="relative overflow-hidden text-2xl transition-all aria-selected:bg-gray-50 aria-selected:shadow-md rounded-full bg-gray-100 outline outline-1 outline-gray-400 w-14 h-14 flex justify-center items-center">
                <div style="background-image: url(/static/images/noise-dark.png);background-size: cover; background-size: 50%"
                    class="bg-gray-300 absolute inset-0">
                </div>
            </div>
        </div>
        <span class="text-black font-semibold text-xl mt-5">Texture %</span>
        <input type="range" min="0" max="100" value="50"
            class="bg-transparent appearance-none rounded-md accent-black bg-gray-400 [&::-webkit-slider-thumb]:h-24">

    </div>
</body>

</html>