<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/htmx.min.js"></script>
    <link href="../static/app.css" rel="stylesheet">
</head>

<body class="bg-gray-300">
    <form>
        <input type="radio" id="option1" name="selection" value="Option1" class="appearance-none checked:bg-citron-700">
        <label for="option1">Option 1</label><br>

        <input type="radio" id="option2" name="selection" value="Option2">
        <label for="option2">Option 2</label><br>

        <input type="radio" id="option3" name="selection" value="Option3">
        <label for="option3">Option 3</label>
    </form>
</body>

</html>